*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroud-section-one{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/backgroud.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroud-section-two{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(../assets/backgroud2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position:relative;
    max-width: 650px;
    top: 200px;
}
.textBox h2{
    color: rgb(78, 78, 78);
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 400;
}
.textBox h2 span{   
    display: inline-block;
    margin-top: 10px;
    padding: 0px 10px;
    background: #334D33;
    color: rgb(216, 216, 216);
    border-radius: 0px;
    font-size: 1em;
    font-weight: 700;
    text-shadow: -1px 1px 0 rgb(223, 223, 223);
}
.textBox h2 span2{
    color: #8d1e0a;
    font-size: 1em;
    font-weight: 700;

}
.textBox h3{
    color: rgb(218, 91, 18);
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #334D33;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.Form{
    padding: 30px;
    width: 400px;
    height: calc(100% + 540px);
    float: right;
    position:relative;
    top: -80px;
    left: 300px;
    background-color: rgb(32, 32, 32);
    background-color: rgba(102, 102, 102, 0.185);
    background-clip: padding-box;    
    border-radius: 5px;
}

.Form h2{
    font-weight: normal;
    color: #3b3b3b;
    font-size: 21px;
}

.input-container{
    margin-top: 20px;
}
.input-container span{
    display: inline-block;
    width: 100%;
    color: #3b3b3b;
    font-size: 17px;
}
.Form p{
    display: inline-block;
    width: 100%;
    color: #3b3b3b;
    font-size: 17px;
    margin: 40px 0px;
}
.input-container input[type = text]{
    margin-top: 8px;
    width: 344px;
    height: 45px;
    padding: 8px 10px;
    border: 1px solid       #ccc;
    border-radius: 5px;
}
.input-container input[type = text] focus{
    outline: 0;
}
.Form .input-submit-container{
    text-align: center;
}
.Form input[type = submit]{
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #8d1e0a;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 5px solid #771808;
}
.Form input[type = submit]:hover{
    background-color: #334D33;
    border-bottom: 5px solid #273b27;
}
footer{
    height: 20px;
    padding: 0.5px;
    text-align: center;
    background-color: #000;
    color: #fff;
}